.card{
    background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

.card-text{
    text-align: justify;
}
#txtcoment{
    resize: none;
}


.cuadrito{
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    height: 50%;
    font-size: 40px;
}



.tenegro{
    padding: 0%;
    height: 510px;
    margin: 0%;
}

